.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #fff;
}

.app-header {
  padding: 20px;
  background-color: #1e1e1e;
  text-align: center;
  border-bottom: 2px solid #2ecc71;
}

.app-content {
  flex: 1;
  padding: 30px;
  text-align: center;
}

.app-footer {
  padding: 10px;
  background-color: #1e1e1e;
  text-align: center;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #bbb;
  margin-top: auto;
  a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;

    transition: color 0.3s;

    &:hover {
      color: #27ae60;
    }
  }
  gap: 10px;
  p {
    margin: 0;
  }
}
